@charset "UTF-8";

/* 
em HTNL é id  = em CS é # (só pode um elemento)
em HTML É class = em CSS é . (pode vários elementos) */

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(116, 116, 100);
}

#principal {
    text-align: center;
}

.topico {
    color: rgb(149, 149, 133);
    text-align: right;
}

.basico {
    color: rgb(5, 77, 15);
    text-align: center;
}

.intermediário {
     color: brown;
     text-align: justify;
}

.avançado {
    color: blueviolet;
    text-align: right;
}

.texto{
    color: rgb(1, 20, 14);
    text-align: center;
}

.destaque{
    color: rgb(255, 255, 255);
    background-color: brown;
}